.container-card {
  width: 80vw;
  height: auto;
  padding: 4px;
  background: linear-gradient(to left, #131212, #0b6d8b);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 160px;
  left: 150px;
  border: 2px rgb(31, 30, 30);
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgb(17, 130, 134);
}
.cards {
  width: 20vw;
  height: 600px;
  background-color: rgb(247, 253, 253);
  border-radius: 20px;
  padding: 4px;
  margin: 10px;
}
img {
  width: 335px;
  height: 250px;
  align-items: center;
  border-radius: 8px;
}
.cards h3 {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  color: black;
}
.cards p {
  color: #131212;
}
button {
  background-color: #0b6d8b;
  align-items: center;
  margin-left: 100px;
  border-radius: 10px;
}

button:hover {
  background-color: #2985a1;
  transform: scale(1.1);
  transition: 3s;
}

@media (max-width: 1024px) {
  .container-card {
    width: 80vw;
    height: auto;
    left: 35px;
  }
  .cards {
    width: 30vw;
    padding-bottom: 40px;
  }
  .cards h3 {
    font-size: 16px;
  }
  .cards p {
    font-size: 12px;
  }
  button {
    width: 80px;
    height: 40px;

    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .container-card {
    width: 76vw;
    height: auto;
    left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cards {
    width: 34vw;
    padding-bottom: 40px;
  }
  .cards h3 {
    font-size: 18px;
  }
  .cards p {
    font-size: 14px;
  }
  button {
    width: 80px;
    height: 40px;

    margin-left: 50px;
  }
}
@media (max-width: 640px) {
  .container-card {
    width: 60vw;
    height: auto;
    left: 35px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cards {
    width: 40vw;
    margin-left: 50px;
  }
  .cards h3 {
    font-size: 18px;
  }
  .cards p {
    font-size: 14px;
  }
  button {
    margin-left: 65px;
    width: 80px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .container-card {
    width: 55vw;
    height: auto;
    left: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cards {
    width: 45vw;
    margin-left: 20px;
  }
  .cards h3 {
    font-size: 16px;
  }
  .cards p {
    font-size: 14px;
  }
  button {
    margin-left: 30px;
  }
}
