.container-explore {
  width: 80vw;
  height: auto;
  background-color: aliceblue;
  color: #0b6d8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  left: 150px;
  border: 2px rgb(31, 30, 30);
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgb(17, 130, 134);
}
h1 {
  text-transform: capitalize;
  font-size: 3em;
  letter-spacing: 4px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 5px solid;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(12) infinite,
    cursor 0.12s step-end infinite alternate;
}
/* cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
/* typing effect */
@keyframes typing {
  from {
    width: 0;
  }
}
p {
  margin: 10px;
  padding: 4px;

  font-size: 18px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  align-items: center;

  opacity: 0;
  animation: slideBottom 1s ease forwards;
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 640px) {
  .container-explore {
    width: 70vw;
    left: 15px;
    height: auto;
   
  }
  .container-explore h1 {
    font-size: 1.5em;
    letter-spacing: 1.2px;
    font-weight: 500;
    width: 100%;
  }
}
