.container-Footer {
  width: 80vw;
  height: 6vh;
  background: linear-gradient(to right, #131212, #0b6d8b); 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 480px;
  left: 150px;
  border: 2px rgb(31, 30, 30);
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgb(17, 130, 134);
}
.footer {
  
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 12px;
}
.Icon {
  display: flex;
  justify-content: center;
}
@media (max-width: 640px) {
  .container-Footer {
    width: 70vw;
    left: 15px;
  }
  .footer {
    align-items: center;
  }
}
