.main {
  background: linear-gradient(to right, #131212, #0b6d8b);
  width: 95vw;
  height: 5vh;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.logo {
  font-size: 24px;
  margin: 20px;
  padding: 10px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px #0b6d8b;
  animation: slideRight 1s ease forwards;
}

.logo:hover {
  background-color: #0b6d8b;
  box-shadow: 0 0 20px #0b6d8b;
  border-radius: 50%;
  transform: scale(1.1);
}

ul {
 
  text-transform: capitalize;
  margin-right: 60px;
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

li {
  padding: 8px;
  text-shadow: 2px 2px 4px #0b6d8b;
  animation: slideTop 0.5s ease forwards;
}

li:hover {
  color: #0b6d8b;
  transform: scale(1.1);
}

.slidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;  
 background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.slidebar.visible {
  display: flex;
}

.menu-button {
  display: none;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .hideonmobile {
    display: block;
  }
  .menu-button {
    display: none;
  }
  .main {
    width: 83vw;
    left: 10px;
  }
}

@media (max-width: 768px) {
  .main {
    width: 78vw;
  }
  ul {
    gap: 5px;
  }
}
@media (max-width: 640px) {
  .hideonmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .slidebar {
    width: 50%;
    height: 40vh;
  }
  .main {
    width: 75vw;
    padding: 4px;
    margin: 22px;
  }
  .logo {
    font-size: 20px;
    margin: 10px;
    padding: 2px;
  }
}
@media (max-width: 480px) {
  .slidebar {
    width: 50%;
    height: 40vh;
  }
  .main {
    width: 70vw;
    padding: 10px;
    margin: 30px;
  }
  .logo {
    font-size: 20px;
    margin: 10px;
    padding: 2px;
  }
}

/* keyframe animation  */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
